
  
  .container {
    transition: all 0.8s ease-out 0s;
    padding: 0; /* Remove padding from the container */
  }

  /* SORTING */
.cont_sort{
  display: flex;
  justify-content: space-between;
  margin-bottom: 5em;
}

  
  .product-allcard {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border: none;
    transform: scale(1.02);
  }

  .product-allcard:hover {
    box-shadow: rgba(138, 137, 136, 0.2) 0px 10px 54px;
    border: none;
    transform: scale(1.02);
  }
 
  .product-allcard:hover h6 {
    text-decoration: underline; /* Add underline on hover */
}
  .product-allcard h6 {
    font-size: 0.88rem; /* Adjust the font size for the title */
   
  
  }

  .product-allcard p {
    font-size: 0.99rem; /* Adjust the font size for the price */
    margin: 0; /* Remove extra margin below the price */
    text-align: center;
     
   
  }


  .disabled-link {
    pointer-events: none;
    opacity: 0.5;
}
.pagination-controls a{
    color: #888; 
}
  
  .original-price {
    color: #888;
    margin-left: 10px;
    text-decoration: line-through; /* Strikethrough original price */
  }
  
  /* .rating {
    margin-top: 5px;
  } */
  
 
  /* Position the button on top of the image, aligned to the top-left corner */
  .image-container {
    position: relative;
    width: 100%; /* Adjust as necessary */
  }
  
  .img_all {
    width: 200px; 
    height:200px; /* Maintain aspect ratio */
    max-height:250px; /* Set a max height as needed */
    object-fit: cover;
  }
 
  .image-container .product-image {
    transition: all 0.3s ease;
  }
  
  .image-container:hover .product-image {
    transform: scale(1.1); /* Optional: Adds a slight zoom effect */
  }
  
  /* Button styling and positioning */
  .btn-top-left {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 4px 12px;
    background-color: rgba(230, 226, 226, 0.7);
    color: rgba(0, 0, 0, 0.7);
    border: none;
    border-radius: 12px;
    font-size: 0.9rem;
    cursor: pointer;
    z-index: 2; /* Ensure it appears over the image */
  }
  /* 
  .btn-top-left:hover {
    background-color: rgba(0, 0, 0, 0.9);
  } */
  
 
  .custom-select {
   max-width: 200px; /* Set the desired width */
    height: 30px; /* Set the desired height */
  width: 100%;
    border:none;
    padding: 0px; /* Padding inside the select */
 
    transition: border-color 0.3s; /* Smooth transition for border */
   
}

.custom-select:focus {
    border-color: #b1b1b4; /* Change border color on focus */
    outline: none; /* Remove outline */
}
.title-filter {
 
 
  color: #888;
 
}

/* Optional: Dark mode styles if using the theme */
.title-filter.text-light {
  color: #fff; /* Change to white for light text */
}



/* Change background color on hover */
.link-filter:hover {
  background-color: rgba(0, 123, 255, 0.1); /* Light blue background on hover */
  text-decoration:underline;
}
