.link-Footer {
  display: block;
  color: #888;
  text-decoration: none;
  font-size: 15px;  
  transition: color 0.3s ease-in-out;
}
.linkbottom-Footer{
margin: 0px;
  display: block;
  color: #888;
  text-decoration: none;
  font-size: 14px;  

}
a:hover {
  text-decoration: underline;
  color: #888;
}

.footer {
  border-top: 1px solid #d4d2d2;
  padding-top: 20px;
}
.style-formG{
width: 120px;
 
}
hr{
  color: #888;

}
/* Styling the <select> element */
.footer select {


  appearance: none; /* Remove default arrow for custom styling */
  -webkit-appearance: none; /* For Safari */
  -moz-appearance: none; /* For Firefox */
}

/* Option styling - this has limited support in some browsers */
.footer option {
 
   color: #888;
}


.footer Label {
  color: #888;
  font-size: 13px;  
}


@media (max-width: 992px) {


.footer h5 {
  font-size: 1rem;
}

.footer .form-group {
  width: 50px;
}

.footer .social-icons {
  justify-content: center;
}
}

@media (max-width: 768px) {

.footer .form-group {
  width: 80%;
}

.footer .social-icons {
  margin-top: 10px;
  justify-content: center;
}
}

@media (max-width: 576px) {


.footer h5 {
  font-size: 0.70rem;
}
.footer .form-group {
  width: 50px;
}
}


