.full-screen-slider {
  overflow: hidden;
  padding: 0;
}


.container-fluid {
  transition: all 0.8s ease-out 0s;
  padding: 0; /* Remove padding from the container */
}
.container-fluid h3 {
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 400;
}


.product-card:hover {

  border: none;
  transform: scale(1.05);
}

.product-card:hover h5 {
  text-decoration: underline; /* Add underline on hover */
  font-weight: bold; /* Bolden the text */
}
/* Hide scrollbars */
.slide::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

.slide {
  -ms-overflow-style: none;  /* Internet Explorer and Edge */
  scrollbar-width: none;  /* Firefox */
}
.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn-card{
width: 150px !important;
  /* font-size: 0.89rem;
  background-color: #141414; */
}


.product-card h5 {
  font-size: 1.2rem;
 display: -webkit-box;
 -webkit-line-clamp:2;
 -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-card p {
  font-size: 1rem; /* Adjust the font size for the price */
  margin: 0; /* Remove extra margin below the price */
  text-align: center;
   
  
}

.original-price {
  color: #888;
  margin-left: 10px;
  text-decoration: line-through; /* Strikethrough original price */
}



/* Position the button on top of the image, aligned to the top-left corner */
.image-container {
  position: relative;
  width: 100%; /* Adjust as necessary */
}
.image-container .Card-image ,.image-container .fargrances-image  {
  transition: all 0.3s ease;
}

.image-container:hover .Card-image   {
  transform: scale(1.04); /* Optional: Adds a slight zoom effect */
}

.image-container:hover .fargrances-image {
  transform: scale(1.04); /* Optional: Adds a slight zoom effect */
 
}
.slider_img_home {
  width: 170px; 
  height:300px; /* Maintain aspect ratio */
  max-height: 400px; /* Set a max height as needed */
  object-fit:cover;
  
 
}

/* Button styling and positioning */
.btn-top-left {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 5px 10px;
  background-color: rgba(230, 226, 226, 0.7);
  color: rgba(0, 0, 0, 0.7);
  border: none;
  border-radius: 12px;
  font-size: 0.9rem;
  cursor: pointer;
  z-index: 2; /* Ensure it appears over the image */
}
/* 
.btn-top-left:hover {
  background-color: rgba(0, 0, 0, 0.9);
} */

.slick-slide {
  display: flex; /* Ensure proper alignment */
  justify-content: center; /* Center slides */
}



  
.slick-dots {
  position: absolute;
 bottom: 0;
  width: 100%;
  text-align: center;
  color: #e8eaee;
  padding: 0;
}

.slick-dots li {
  display: inline-block;
  margin: 0 5px; /* Adjust spacing */
}

.slick-prev, .slick-next {
  z-index: 1; /* Ensure arrows are above other elements */
}



  @media (max-width: 1200px) {
    .container-fluid h3 {
      font-size: 2rem;  /* Slightly smaller on large screens */
      line-height: 2.25rem;
    }
    .btn-card{
      font-size: 0.6rem; 
      }
  }
  
  @media (max-width: 992px) {
    .container-fluid h3 {
      font-size: 1.75rem;  /* Medium screen size */
      line-height: 2rem;
    }
  }
  
  @media (max-width: 768px) {
    .container-fluid h3 {
      font-size: 1.5rem;  /* Smaller tablets and large phones */
      line-height: 1.75rem;
    }
    .btn-card{
      font-size: 0.6rem; 
      }
      
  }
  
  @media (max-width: 576px) {
    .container-fluid h3 {
      font-size: 22px;  /* Small phones */
      line-height: 1.5rem;
      font-weight: bold;
    }
  }
  
  @media (max-width: 360px) {
    .container-fluid h3 {
      font-size: 1rem;  /* Very small screens */
      line-height: 1.25rem;
    }
  }
    /* Optionally hide the arrows for smaller screens */
    @media (max-width: 480px) {
      .slick-prev {
        display: none;
      }
      .slick-next{
          display: none;
      }
    
     
     
    }
